In [9]:
with open("./sample_data.txt",'r') as sample:
    sample.read()

In [10]:
sample

In [7]:
sample = sample.splitlines()

AttributeError: '_io.TextIOWrapper' object has no attribute 'splitlines'

In [38]:

filename = "sample_data.txt"
lines = open(filename).read().splitlines()

print(lines)
lines[40]

['Anne Boynton', '45', 'Female', 'TSH,3.5,3.6,1.8,2.8,1.9,3.4,3,3.6,3,4', 'Kamal Solaiman', '31', 'Male', 'TSH,2.7,1.4,2.5,3.1,0.4,1.8,3.1,3,3.8,0.9,2.3', 'Kyaw Win', '54', 'Male', 'TSH,2.5,1.1,1.3,2.7,1.9,2.6,3.5,1,1.4', 'Larissa Webb', '46', 'Female', 'TSH,6.3,6.7,6.3,7.6,2.1,6.9,7.1,4.1,7.2,3.5,2.9', 'Livia Villarroel', '62', 'Female', 'TSH,2.8,2.5,0.7,3.8,2.7,0.2,2.9,1.5,0.8,2.4,2', 'Catherine Su', '44', 'Female', 'TSH,2.4,2.4,3.5,1.1,3,3.9,2,3.7,2.1,3.9', 'Francisco Valle', '35', 'Male', 'TSH,2.7,5.2,4.5,3.3,5.8,2.4,5.3,4.2,2.5,5.2,4', 'Julian Thomson', '64', 'Male', 'TSH,0.6,3.5,0.2,3.7,1.1,0.2,3.5,2.2,1,0.6,3.5', 'Monte Swarup', '51', 'Male', 'TSH,3.1,4.5,3.5,3.6,5.6,4.8,4.3,5.7,4.2,2.4,5.5', 'Jeffrey Bond', '77', 'Male', 'TSH,2,2.6,2.4,2.2,1,1.4,0.2,0.5,2,2.3,0.2', 'END']

'END'

In [57]:
def tsh_info_process(lines): 
    all_patient = []
    for i in range(0,len(lines)-1,4):
        while lines[i] != 'END':
            tsh_num = lines[i+3].split(",")[1:]
            print(tsh_num)
            tsh_num = [float(i) for i in tsh_num]
            tsh_min = min(tsh_num)
            tsh_max = max(tsh_num)
            tsh_num.sort()
            #print(tsh_num)
            if tsh_min < 1:
                diagnosis = "hyperthyroidism"
            elif tsh_max > 4:
                diagnosis = "hypothyroidism"
            else:
                diagnosis = "normal thyroid function"
            #print(diagnosis)
            patient_dict = {"First Name": lines[i].split(" ")[0],
                            "Last Name":lines[i].split(" ")[1],
                            "Age": int(lines[i+1]),
                            "Gender": lines[i+2],
                            "Diagnosis": diagnosis,
                            "TSH": tsh_num}
            filename = patient_dict["First Name"]+' '+patient_dict["Last Name"]+'.json'
            out_file = open(filename, "w")
            json.dump(patient_dict, out_file)
            out_file.close()
            #print(patient_dict)
            break
        all_patient.append(patient_dict)
    return all_patient
        
pt = tsh_info_process(lines)

['3.5', '3.6', '1.8', '2.8', '1.9', '3.4', '3', '3.6', '3', '4']
['2.7', '1.4', '2.5', '3.1', '0.4', '1.8', '3.1', '3', '3.8', '0.9', '2.3']
['2.5', '1.1', '1.3', '2.7', '1.9', '2.6', '3.5', '1', '1.4']
['6.3', '6.7', '6.3', '7.6', '2.1', '6.9', '7.1', '4.1', '7.2', '3.5', '2.9']
['2.8', '2.5', '0.7', '3.8', '2.7', '0.2', '2.9', '1.5', '0.8', '2.4', '2']
['2.4', '2.4', '3.5', '1.1', '3', '3.9', '2', '3.7', '2.1', '3.9']
['2.7', '5.2', '4.5', '3.3', '5.8', '2.4', '5.3', '4.2', '2.5', '5.2', '4']
['0.6', '3.5', '0.2', '3.7', '1.1', '0.2', '3.5', '2.2', '1', '0.6', '3.5']
['3.1', '4.5', '3.5', '3.6', '5.6', '4.8', '4.3', '5.7', '4.2', '2.4', '5.5']
['2', '2.6', '2.4', '2.2', '1', '1.4', '0.2', '0.5', '2', '2.3', '0.2']

In [58]:
pt

[{'First Name': 'Anne',
  'Last Name': 'Boynton',
  'Age': 45,
  'Gender': 'Female',
  'Diagnosis': 'normal thyroid function',
  'TSH': [1.8, 1.9, 2.8, 3.0, 3.0, 3.4, 3.5, 3.6, 3.6, 4.0]},
 {'First Name': 'Kamal',
  'Last Name': 'Solaiman',
  'Age': 31,
  'Gender': 'Male',
  'Diagnosis': 'hyperthyroidism',
  'TSH': [0.4, 0.9, 1.4, 1.8, 2.3, 2.5, 2.7, 3.0, 3.1, 3.1, 3.8]},
 {'First Name': 'Kyaw',
  'Last Name': 'Win',
  'Age': 54,
  'Gender': 'Male',
  'Diagnosis': 'normal thyroid function',
  'TSH': [1.0, 1.1, 1.3, 1.4, 1.9, 2.5, 2.6, 2.7, 3.5]},
 {'First Name': 'Larissa',
  'Last Name': 'Webb',
  'Age': 46,
  'Gender': 'Female',
  'Diagnosis': 'hypothyroidism',
  'TSH': [2.1, 2.9, 3.5, 4.1, 6.3, 6.3, 6.7, 6.9, 7.1, 7.2, 7.6]},
 {'First Name': 'Livia',
  'Last Name': 'Villarroel',
  'Age': 62,
  'Gender': 'Female',
  'Diagnosis': 'hyperthyroidism',
  'TSH': [0.2, 0.7, 0.8, 1.5, 2.0, 2.4, 2.5, 2.7, 2.8, 2.9, 3.8]},
 {'First Name': 'Catherine',
  'Last Name': 'Su',
  'Age': 44,
  'Gender': 'Female',
  'Diagnosis': 'normal thyroid function',
  'TSH': [1.1, 2.0, 2.1, 2.4, 2.4, 3.0, 3.5, 3.7, 3.9, 3.9]},
 {'First Name': 'Francisco',
  'Last Name': 'Valle',
  'Age': 35,
  'Gender': 'Male',
  'Diagnosis': 'hypothyroidism',
  'TSH': [2.4, 2.5, 2.7, 3.3, 4.0, 4.2, 4.5, 5.2, 5.2, 5.3, 5.8]},
 {'First Name': 'Julian',
  'Last Name': 'Thomson',
  'Age': 64,
  'Gender': 'Male',
  'Diagnosis': 'hyperthyroidism',
  'TSH': [0.2, 0.2, 0.6, 0.6, 1.0, 1.1, 2.2, 3.5, 3.5, 3.5, 3.7]},
 {'First Name': 'Monte',
  'Last Name': 'Swarup',
  'Age': 51,
  'Gender': 'Male',
  'Diagnosis': 'hypothyroidism',
  'TSH': [2.4, 3.1, 3.5, 3.6, 4.2, 4.3, 4.5, 4.8, 5.5, 5.6, 5.7]},
 {'First Name': 'Jeffrey',
  'Last Name': 'Bond',
  'Age': 77,
  'Gender': 'Male',
  'Diagnosis': 'hyperthyroidism',
  'TSH': [0.2, 0.2, 0.5, 1.0, 1.4, 2.0, 2.0, 2.2, 2.3, 2.4, 2.6]}]